/* Стили для родительского блока */

.page {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	background-color: #1b1919;
}

/* Стили для дочернего блока */

.content {
	display: flex;
	inline-size: 1140px;
	justify-content: center;
	align-items: end;
	gap: 30px;
}

/* Секция result */

.result {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.result__video-container {
	position: relative;
	inline-size: 711px;
	block-size: 386px;
}

.result__video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	object-position: center;
}

.search-form {
	display: flex;
	align-items: end;
	gap: 40px;
}

.search-form__fieldset {
	display: flex;
	flex-direction: column;
	gap: 4px;
	flex-basis: 212px;
	border: none;
	align-self: center;
}

.search-form__fieldset:nth-child(1) {
	flex: 1;
}

.search-form__fieldset-title {
	font-size: 18px;
	font-weight: 400;
}

.search-form__textfield {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	border-right: none;
	border-left: none;
	padding: 2px;
	background-color: transparent;
	appearance: none;
	color: white;
	font-size: 18px;
	font-weight: 400;
	inline-size: 100%;
}

.search-form__checkbox-list {
	display: flex;
	gap: 15px;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.search-form__pseudo-checkbox {
	display: inline-block;
	inline-size: 19px;
	block-size: 19px;
	vertical-align: middle;
	border: 1px solid white;
}

.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox {
	background-color: white;
	border: 1px solid black;
	outline: 1px solid white;
}

.button {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	background-color: transparent;
	block-size: 34px;
	border: 1px solid currentColor;
	min-width: 194px;
	margin-bottom: 2px;
}

/* Секция details */

.content__details {
	display: flex;
	inline-size: 100%;
	flex-direction: column;
	gap: 26px;
}

.title {
	font-family: Oswald, sans-serif;
	font-size: 75px;
	font-style: normal;
	font-weight: 700;
	line-height: 94%; /* 70.5px */
	text-transform: uppercase;
}

.content__accent {
	color: #545050;
}

.content__list {
	position: relative;
	overflow: auto;
	overflow-x: auto;
	block-size: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	scrollbar-width: none;
}

.content__list-item:not(:last-child) {
	padding-bottom: 25px;
}

.content__card-link {
	display: block;
	text-decoration: none;
	margin: 2px;
}

.content__card-link_current {
	background-color: #545050;
}

.content__video-card {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.content__video-card-description-container {
	display: flex;
	flex-direction: column;
}

.content__video-card-title {
	font-family: Oswald, sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 100%; /* 30px */
	text-transform: uppercase;
	margin-bottom: 6px;
	max-width: 200px;
	text-overflow: ellipsis;
}

.content__video-card-description {
	font-size: 18px;
	font-weight: 400;
	line-height: 16.2px; /* 90% */
	max-width: 200px;
}

.content__video-card-thumbnail {
	inline-size: 194px;
	block-size: 103px;
	object-fit: cover;
	object-position: center;
}

.more-button {
	inline-size: 99%;
	display: block;
	margin: auto;
	margin-bottom: 2px;
}

/* Прочее */

.content__card-link,
.search-form__label,
.button {
	cursor: pointer;
}

/* Фокусы */

.search-form__label-text:hover,
.button:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.content__card-link:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
}

.button:active {
	background-color: #545050;
}

.content__card-link:active {
	background-color: #545050;
}

.button:focus,
.content__card-link:focus,
.search-form__label:focus,
.search-form__textfield:focus {
	outline: none;
}

.button:focus-visible,
.content__card-link:focus-visible,
.search-form__label:has(:focus-visible) {
	outline-offset: 1px;
	outline: 1px solid white;
}

.search-form__textfield:active {
	border: 1px solid white;
}
