*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	display: flex;
	align-items: center;
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.content {
	display: flex;
	inline-size: 1200px;
	flex-direction: row;
	align-items: end;
	gap: 30px;
	padding: 0 30px;
}

.content__list {
	position: relative;
	flex-direction: column;
	overflow: scroll;
	overflow-x: hidden;
	height: 298px;
	margin-top: 26px;
	scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
	width: 0;
	background-color: rgb(0 0 0 / 0);
}

.content__list-item {
	padding-bottom: 30px;
}

.content__details {
	display: flex;
	width: 100%;
	flex-direction: column;
}

h1 {
	color: #fff;
	font-family: Oswald, sans-serif;
	font-size: 75px;
	font-style: normal;
	font-weight: 700;
	line-height: 94%; /* 70.5px */
	text-transform: uppercase;
}

.content__accent {
	color: #545050;
}

.content__card-link {
	display: block;
	text-decoration: none;
	margin: 2px;
}

.search-form {
	display: flex;
	align-items: end;
	width: 711px;
	gap: 40px;
}

.search-form__fieldset {
	align-self: center;
	flex: 1;
}

.search-form__fieldset-title {
	color: #fff;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}

.result__video-container {
	position: relative;
	width: 711px;
	height: 386px;
	margin-bottom: 20px;
}

.result__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0;
}

.content__video-card {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: start;
}

.content__video-card-title {
	display: inline;
	color: #fff;
	font-family: Oswald, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 30px */
	text-transform: uppercase;
	margin-bottom: 6px;
}

.content__video-card-description {
	display: inline;
	color: #fff;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
	width: 194px;
	height: 103px;
}

fieldset {
	border: none;
}

.search-form__label {
	width: fit-content;
	gap: 5px;
}

.content__card-link,
.search-form__label,
.button {
	cursor: url(/images/cursor.png), pointer;
}

.search-form__textfield {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-right: none;
	border-left: none;
	padding: 2px;
	outline: 0;
	background-color: transparent;
	appearance: none;
	color: rgb(255 255 255 / 0.7);
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	inline-size: 225px;
}

.button {
	color: #fff;
	text-align: center;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-color: transparent;
	display: flex;
	width: 194px;
	height: 34px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border: 1px solid #fff;
}

.more-button {
	width: 100%;
}

.search-form__checkbox-list {
	display: flex;
	gap: 15px;
}

.search-form__pseudo-checkbox {
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	border: 1px solid white;
}

input[type="checkbox"]:checked + span {
	background-color: white;
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	outline-offset: 1px;
	outline: 1px solid white;
	margin-right: 2px;
}

/* Фокусы */

.button:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.content__video-card-description:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
}

.content__video-card-title:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
}

.button:active {
	background-color: #545050;
}

.content__video-card:active {
	background-color: #545050;
}

.button:focus,
.content__card-link:focus,
.search-form__label:focus,
.search-form__textfield:focus {
	outline: none;
}

.button:focus-visible,
.content__card-link:focus-visible,
.search-form__label:has(:focus-visible),
.search-form__textfield:focus-visible {
	outline-offset: 1px;
	outline: 1px solid white;
}

.search-form__textfield:active {
	border: 1px solid white;
}
